/* 
    Created on : 11/04/2019, 15:21:29
    Author     : Abdiel Pereira Cordeiro
*/
@font-face {
    font-family: exotic;
    src: url(../fontes/exotic.otf );
    font-family: American_Captain;
    src: url(../fontes/American_Captain.otf);
}
.cx2{
    max-width: 100%;
}
.slide{
    margin-top:-10px !important; 
    position: fixed !important;
}
.cx{ 
    max-width: 100%;
    margin-top: 10px;
}
.retangulo_corpo{/* Retangulo do corpo*/
    height: 500px;
    margin-top: 150px;
    background-color: white;
    border: none;
    box-shadow: 6px 6px 10px #A9A9A9;
    -webkit-box-shadow: 6px 6px 10px #A9A9A9;
    -moz-box-shadow: 6px 6px 10px #A9A9A9;
}
.cabecalho {
    width: 100%;
    background-color: #FF7722;
    height: 100px;
    padding: 0 !important;
    margin: 0;
    margin-top: -30px;
    text-align: center;
}
#logoHead{
    max-width: 60%; 
    max-height: 60%;   
}
#textoEntra{
    z-index:2;
    margin-top:30px;
    font-family: American_Captain;
    font-size: 50px;
    color: white;
    /*position: absolute;*/
}
.corpo {
    width: 100%;
    padding: 0 !important;
    margin: 0;
}
.l1{
    max-width: 100%;
    height: 50px;
}
.l2{
    height: 30px;
}
.l3{
    height: 30px;
}
.l4{
    height: 30px;
}
.l5{
    height: 25px;
}
.c1{
    margin-left: -20px;
}
.p1{
    width: 100%;
    height: 30px;
    padding: 0 !important; 
    margin: 0;
}
.mensgem{
    z-index: 2;
    height: 50px;
}
#esqueceSenha{
    z-index: 2;
    font-family: exotic;
    font-size:18px;
    color:#A9A9A9;
}
#caixaDoEmail{
    z-index:2;
    height: 60px;
    border:none;
}
#senhaDoEmail{
    z-index:2;
    height: 60px;
    border:none;
}
input {
    margin: 0px 0px;
    width: 300px;
    display: block;
    border: none;
    padding: 9.2px 0;
    border-bottom: solid 1px #FF7722;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #FF7722 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FF7722 4%);
    background-position: -200px 0;
    background-size: 400px 100%;
    background-repeat: no-repeat;
    color: #696969;
}
input:focus, input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
#trocarSenhaLogin{
    z-index: 2;
    width:300px;
    text-decoration:none;
    color:#808080;
}
.btnEntrar{
    z-index:2;
    font-family: American_Captain;
    font-size:30px;
    height: 50px;
    width: 100%;
    color:white;
    background-color:#FF7722; 
    border:none;
    border-radius: 30px;/*Botão validar senha e email*/
    margin-top:20px;
}
.btnEntrar:hover{
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
#mensagemRodape{
    z-index:2;
    font-family: exotic;
    font-size:18px;
    color: #A9A9A9;/*Mensagem do Rodape*/
}
/*
* Estilo dos botões de trocar a senha 
*/
.btn-trocarSenha{
    border:none;
    font-size: 15px !important;
}
#emailSenha{
    margin: 0px 0px; 
    width: 400px; 
    display: block; 
    border: none; 
    padding: 10px 30px; 
    border-bottom: solid 0px #FF7722; 
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); 
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1); 
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #FF7722 4%); 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FF7722 4%); 
    background-position: -200px 0; 
    background-size: 500px 100%; 
    background-repeat: no-repeat; 
    color: #696969;
}