/* 
    Created on : 16/04/2019, 10:28:13
    Author     : Abdiel Pereira Cordeiro
    Da pagina Usuário
*/

@font-face {
    font-family: exotic;
    src: url(../../fontes/exotic.otf );
    font-family: American_Captain;
    src: url(../../fontes/American_Captain.otf);
}
body{
    background-image: url('../../imagem/2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
/*
    Linhas 
*/
.margin{
    max-width: 100%;
}
.l1{
    height: 30px;
    max-width: 100%;
}
.l2{
    max-width:100%;
    height: 45px;
}
.l3{
    height: 30px;
    max-width: 100%;
}
.l4{
    left:5%;
}
.l5{
    height: 20px;
}
.l6{
    margin-top: 20px;
}
.l7{
    height: 35px;
    max-width: 100.6%;
}
.l8{
    margin-top: 6px;
}
.l9{
    margin-top: 15px;
}
.l10{
    height: 2px;  
}
.l11{
    height: 50px;
}
.p1{
    left:2%;
}
.p3{
    left:10%;
}
.p4{
    left:2%;
}

/*--------------------------------------------------------------*/
/*
    Cabeçario 
*/
/*
    -> Classes
*/
.linhaCabecario{
    z-index: 1;
    background-image: linear-gradient(to left, #FF7723 30%, #CCCCFF);
    border: none;
    height:20px;
    max-width: 100.91%;
}
.cabecario{
    z-index: 1;
    background-image: linear-gradient(to left, #FF7723 30%, #CCCCFF);
    border: none;
    height:80px;
    max-width: 100.91%;
}
/*
    -> ID
*/
#logoLumen{
    z-index:2;
    height:50px;
    margin-top:10px;
}
#iconeUsuario{
    z-index: 2;
    height: 40px;
    margin-top: 15px;
}
#infosUser{
    z-index: 2;
    font-family: American_Captain;
    font-size: 25px;
    color:white;
    margin-top: 15px;
}
#trocarSenha{
    font-family: American_Captain;
    color: white;
    font-size: 25px;
    text-decoration:none;
}
#sair{
    border-radius: 10px;
    border:none;
    font-family: American_Captain;
    color: white;
    background-color: #FF7723;
    font-size: 25px;
    text-decoration:none;
}
#versao{
    z-index: 2;
    color:white;
    font-size: 15px;
}

/*--------------------------------------*/
/*
    Corpo 
*/
@-webkit-keyframes spinning {
    from {transform: rotate(0deg);}
    to   {transform: rotate(180deg);}
}
@keyframes spinning {
    from {transform: rotate(0deg);}
    to   {transform: rotate(180deg);}
}
.corpo{
    z-index: 1;
    max-width: 100%;
}
#backgroundTela{
    z-index:1;
    height: 500px;
    width: 680px;
    background-color: #DCDCDC;
    border: none;
    border-radius: 30px;
}
#duvi1{
    margin-top: 9px;
}
/*
    - > Local de Upload
*/
.bntEnviar{
    border:none;
    font-family: exotic;
    font-size: 20px;
    background-color: #DCDCDC;
    color:#F8AA6A;
    font-weight: bold;
}
.inp{
    height: 38px !important;
}
#tdEmpresa{
    width: 150px !important;
}
#backgroundUpload{
    z-index:1;
    background-color: #DCDCDC;
    width: 490px;
    margin-top: 5px;
    margin-left: 50px;
    border: none;
    border-radius: 30px;
}
.OpcoesCliente{
    z-index: 1;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    border: 1px solid #F8AA6A;

}
#upload{
    z-index:2;
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}
#tableUp{
    width: 300px;
}
.tableUpFake{
    margin-left: 20px;
}
#tableListAnexo{
    border-bottom-width: 3px; 
    border-bottom-style: solid; 
    border-bottom-color:black;
}
#tableListUser{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color:black;
}
#t1{
    font-family: exotic;
    font-size: 18px;
    font-weight: bold;
}
#t2{
    font-family: exotic;
    font-size: 18px;
    font-weight: bold;
}
.balaoErro{
    margin: 0 auto; 
    background: #F8AA6A;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    position: relative;
    color:black;
}
.balaoErro:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F8AA6A;
    top: -20px;
    right: 20%;
}
#erroTrocaSenha{
    z-index: 2;
    font-weight: bold;
    font-family: exotic;
    font-size: 20px;
    height: 60px;
}

/*
    - > Lista de Anexos
*/
.txt1{
    text-align: left;
}
#tituloPage{
    z-index: 2;
    font-family: American_Captain;
    color: #696969;
    font-size: 50px;
}
.input {
    margin: 0px 0px;
    width: 200px;
    height: 40px !important;
    display: block;
    border: none;
    padding: 9.2px 0;
    border-bottom: solid 1px #FF7722;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #FF7722 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #FF7722 4%);
    background-position: -500px 0;
    background-size: 500px 100%;
    background-repeat: no-repeat;
    color: #696969;
    margin-top: 15px;
}
.input:focus, .input:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}
.btnBusca{
    z-index: 2;
    background: url(../../imagem/bntBusca.png) no-repeat; 
    border:none;
    margin-left: -20px;
    margin-top: 10px;
}
#txtBusca{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:italic;
    font-size:18px;
    border:none;
}
#listaAnexo{
    width: 100%;
    height: 100px;
}
#td1{
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#td2{
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tbl1{
    height: 400px;
    overflow:auto;
    overflow-x:hidden;
}
.tbl2{
    height: 410px;
    overflow:auto;
    overflow-x:hidden;
}
#trTitulo{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color:black;
}
/*-------------------------------------------------------------*/
/*
    Lista de Usuários 
*/
.t1{
    text-align: center;
    font-size: 30px;
}

.modalDialogEditaUser{
    position: fixed;
    font-family: exotic;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogEditaUser:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialogEditaUser > div {
    width: 400px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}

/*-------------------------------------------------------------*/
/*--------------------------------------------------------------------*/
/*Funções*/
/*Efeito do botão enviar e-mail*/

.botao:hover{
    background: url(../../imagem/botaoEnviar_hover.png)  no-repeat;
}

.botao:active{ 
    background: url(../../imagem/botaoEnviar_active.png)  no-repeat;

}

.botao:link{ 
    background: url(../../imagem/botaoEnviar_normal.png)  no-repeat;
}

/*--------------------------------------------------------------------*/
/* Ações do botão Buscar*/

.btnBusca:active{ 
    background: url(../../imagem/bntBusca_active.png)  no-repeat;

}

.btnBusca:link{ 
    background: url(../../imagem/bntBusca.png)  no-repeat;
}

/*--------------------------------------------------------------------*/