/* 
    Created on : 02/08/2019, 11:42:06
    Author     : Abdiel Pereira Cordeiro
*/
@font-face {
    font-family: exotic;
    src: url(../../fontes/exotic.otf );
    font-family: American_Captain;
    src: url(../../fontes/American_Captain.otf);
}
/*
    - > Local de Upload
*/
.bntEnviar{
    border:none;
    font-family: exotic;
    font-size: 20px;
    background-color: #DCDCDC;
    color:#F8AA6A;
    font-weight: bold;
}
.inp{
    height: 38px !important;
}
#tdEmpresa{
    width: 150px !important;
}
#backgroundUpload{
    z-index:1;
    background-color: #DCDCDC;
    width: 490px;
    margin-top: 5px;
    margin-left: 50px;
    border: none;
    border-radius: 30px;
}
.OpcoesCliente{
    z-index: 1;
    text-align: center;
    height: 30px;
    width: 100px;
    border-radius: 10px;
    border: none;
    border: 1px solid #F8AA6A;

}
#upload{
    z-index:2;
    position: absolute;
    margin-top: 20px;
    margin-left: 50px;
}
#tableUp{
    width: 300px;
}
.tableUpFake{
    margin-left: 20px;
}
#tableListAnexo{
    border-bottom-width: 3px; 
    border-bottom-style: solid; 
    border-bottom-color:black;
}
#tableListUser{
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color:black;
}
#t1{
    font-family: exotic;
    font-size: 18px;
    font-weight: bold;
}
#t2{
    font-family: exotic;
    font-size: 18px;
    font-weight: bold;
}
.balaoErro{
    margin: 0 auto; 
    background: #F8AA6A;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    position: relative;
    color:black;
}
.balaoErro:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F8AA6A;
    top: -20px;
    right: 20%;
}
#erroTrocaSenha{
    z-index: 2;
    font-weight: bold;
    font-family: exotic;
    font-size: 20px;
    height: 60px;
}
.p4{
    left:2%;
}
.l5{
    height: 20px;
}


