/* 
    Created on : 05/09/2019, 13:47:29
    Author     : Abdiel Pereira Cordeiro
*/
@font-face {
    font-family: exotic;
    src: url(../../fontes/exotic.otf );
    font-family: American_Captain;
    src: url(../../fontes/American_Captain.otf);
}
body{
    background-image: url('../../imagem/2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
/*
    Linhas 
*/
.l1{
    height: 30px;
    max-width: 100%;
}
.l2{
    height: 70px;
}
.l3{
    height: 30px;
    max-width: 100%;
}
.l4{
    left:5%;
}
.l5{
    height: 20px;
}
.l6{
    margin-top: 20px;
}
.l7{
    height: 35px;
    max-width: 100.6%;
}
.l8{
    margin-top: 6px;
}
.l9{
    margin-top: 15px;
}
.l10{
    height: 15px;  
}
.l11{
    height: 50px;
}
.p1{
    left:2%;
}
.p3{
    left:10%;
}
.p4{
    left:2%;
}

/*--------------------------------------------------------------*/
/*
    Cabeçario 
*/
.linhaCabecario{
    z-index: 1;
    background-image: linear-gradient(to left, #FF7723 30%, #CCCCFF);
    border: none;
    height:20px;
    max-width: 100.91%;
}
.cabecario{
    z-index: 1;
    background-image: linear-gradient(to left, #FF7723 30%, #CCCCFF);
    border: none;
    height:80px;
    max-width: 100.91%;
}
#logoLumen{
    z-index:2;
    height:50px;
    margin-top:10px;
}
#iconeUsuario{
    z-index: 2;
    height: 40px;
}
#infosUser{
    z-index: 2;
    font-family: American_Captain;
    font-size: 25px;
    color:white;
}
#versao{
    color:white;
    font-size: 15px;
}
#sair{
    z-index:2;
    border-radius: 10px;
    border:none;
    font-family: American_Captain;
    color: white !important;
    background-color: #FF7723;
    font-size: 25px;
    text-decoration:none;
}
.btnSecondary{
    z-index:2;
    border-radius: 10px;
    border:none;
    width: 150px;
    font-family: American_Captain;
    color: white !important;
    background-color: #FF7723;
    font-size: 25px !important;
    text-decoration:none;
}
/*-------------------------------------------------------------*/
/*
    Corpo
*/
.corpo{
    max-width: 100%;
}
.teste{
    background-color: blue;
}
#backgroundTela{
    z-index:1;
    height: 600px;
    background-color: #DCDCDC;
    border: none;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}
#menuLateral{
    margin:0;
    padding:0;
}
.linhasMenu{
    color: #FF7723;
    font-weight: bold;
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 0px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 0px !important;
}
a.nav-link:visited {
    background-color: green;
}
a.nav-link:hover {
    background-color: #DCDCDC;
}
a.nav-link:active {
    background-color: blue;
}
.balaoErro{
    margin: 0 auto; 
    background: #F8AA6A;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    position: relative;
    color:black;
}
.balaoErro:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F8AA6A;
    top: -20px;
    right: 20%;
}
/*--------------------------------------------------------------------------*/
/*
    Usuários
*/
.modalDialogEditaUser{
    position: fixed;
    font-family: exotic;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalDialogEditaUser:target {
    opacity: 1;
    pointer-events: auto;
}
.modalDialogEditaUser > div {
    width: 400px;
    height: 500px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
#tdEmpresa{
    width: 150px !important;
}
.iconL{
    text-align: center
}
.tmTabelas{
    width: 900px;
}
.tbl2{
    height: 500px;
    width: 900px;
    overflow:auto;
    overflow-x:hidden;
}
.t1{
    text-align: center;
    font-size: 30px;
}
/*---------------------------------------------------------------------------*/
/*
    Janela de Relatorios
*/
.exTb{
    text-align: center;
}
.dateConf{
    border:none;
}
#bntAgenda{
    background: none;
}
/*--------------------------------------------------------------------*/
/* Ações do botão Buscar*/
.btnRelat{
    z-index: 2;
    background: url(../../imagem/bntBusca.png) no-repeat; 
    border:none;
    height: 45px;
    width: 45px;
}
.btnRelat:active{ 
    background: url(../../imagem/bntBusca_active.png)  no-repeat;

}

.btnRelat:link{ 
    background: url(../../imagem/bntBusca.png)  no-repeat;
}

/*--------------------------------------------------------------------*/