/* 
    Created on : 24/05/2019, 09:37:47
    Author     : Abdiel Pereira Cordeiro
*/

@font-face {
    font-family: exotic;
    src: url(../../fontes/exotic.otf );
    font-family: American_Captain;
    src: url(../../fontes/American_Captain.otf);
}
.corpo{
    margin-left: 5px;
    height: 470px;
    overflow:auto;
    overflow-x:hidden;
}
.l1{
    max-width: 100%;
    height: 10px !important;
}
.l2{
    max-width: 100%;
}
.l3{
    max-width: 100%;
    height: 15px;
}
.txt1{
    right: 7%;
}
.names{
    font-family: exotic;
    font-size: 17px;
    font-weight: bold;
}
input {
    border: 0;
    border-bottom: 2px solid #9e9e9e;
    outline: none;
    transition: .2s ease-in-out;
    box-sizing: border-box;
}
.acessoUser{
    font-family: exotic;
    font-size: 18px;
    text-align: center;
    border:none;
    height: 30px;
    color:#FF7722;
}
.addResp{
    background: url('../../imagem/add.png') no-repeat;
    background-color: #fff !important;
    height: 30px;
    width: 30px;
    border:none !important;
}
.bntADD{
    width: 30px;
}
#emailUser{
    width:300px;
}
#deleteResp{
    margin-top: 70% !important
}
.balaoErro{
    margin: 0 auto; 
    background: #F8AA6A;
    font-family: 'open sans';
    font-size: 0.85em;
    line-height: 1.6em;  
    border-radius: 15px;
    color: #fff;
    padding: 20px;
    position: relative;
    color:black;
}
.balaoErro:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #F8AA6A;
    top: -20px;
    right: 20%;
}
#salvarInfos{
    font-family: American_Captain;
    font-size: 25px;
    background-color: orange;
    border-radius: 10px;
    width: 80px;
    height: 40px;   
}
